

<h2>New Album</h2>
<div class="row">
  <div class="col-lg-12">
    <%= form_for @album do |f| %>
      <div class="row">
        <div class="col-lg-6">
          <%= f.text_field :title %>
        </div>
      </div>

      <%= render partial: "photo_fields", locals: {f: f} %>
      <div class="row">
        <div class="col-lg-12">
          <%= f.add_nested_fields_link :photos %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>
